@model ChangePasswordViewModel
<div class="col-md-4 ml-auto mr-auto">
    <form method="post" asp-action="changepassword">
        @Html.AntiForgeryToken()
        <div class="card card-pricing card-plain">
            <div class="card-header">
                <h5 class="title"> <i class="title now-ui-icons business_bank"></i><br />NIBSS ERP&reg;</h5>
                <h6 class="description"> Limitless ERP Experience.</h6>

            </div>

            <div class="card-body ">
                @Html.Partial("_ValidationSummary")
                @ViewBag.Message
                <div class="input-group no-border form-control-lg">
                    <span class="input-group-addon">
                        <i class="now-ui-icons users_circle-08"></i>
                    </span>
                    <input class="form-control" type="password" placeholder="Old Password" asp-for="OldPassword" autofocus autocomplete="off">
                </div>

                <div class="input-group no-border form-control-lg">
                    <span class="input-group-addon">
                        <i class="now-ui-icons text_caps-small"></i>
                        .
                    </span>
                    <input type="password" class="form-control" placeholder="New Password" asp-for="Password" autocomplete="off">
                </div>
                <div class="input-group no-border form-control-lg">
                    <span class="input-group-addon">
                        <i class="now-ui-icons text_caps-small"></i>
                    </span>
                    <input type="password" class="form-control" placeholder="Confirm Password" asp-for="ConfirmPassword" autocomplete="off">
                </div>

                <div class="input-group no-border form-control-lg">
                    <button class="btn btn-primary  btn-lg btn-block" name="button" value="Reset">Reset Password</button>
                </div>
            </div>

        </div>

    </form>
</div>



