
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}
<p>
    Please check your email to reset your password.
</p>

@*<p>
    If Your Email is Registered Please check your email to reset your password,but if it is not Registered please You cant Login
</p>*@
