@model ForgotPasswordViewModel
<div class="col-md-4 ml-auto mr-auto">
    <form method="post" asp-for="ForgotPassword">   
        @Html.AntiForgeryToken()
        <div class="card card-pricing card-plain">

            <div class="card-header">

                <h5 class="title"> <i class="title now-ui-icons business_bank"></i><br />ERP &reg;</h5>
                <h6 class="description"> Limitless Banking Experience.</h6>
            </div>

            <div class="card-body col-md-12 ">
                @Html.Partial("_ValidationSummary")
                @ViewBag.Message
                <div class="input-group no-border form-control-lg">
                    <span class="input-group-addon">
                        <i class="now-ui-icons users_circle-08"></i>
                    </span>
                    <input class="form-control" placeholder="Registered Email" asp-for="Email" autofocus>
                    
                </div>
                <div class="input-group no-border form-control-lg">
                    <button type="submit" class="btn btn-primary  btn-lg btn-block" name="button" value="Forgot Password">Forgot Password</button>
                </div>
            </div>

        </div>

    </form>
</div>


