
<h1>Reset Your Password</h1>

<form asp-controller="Account"asp-action="SendPasswordResetLink" method="post">

    <table>
        <tr>
            <td>
                <label>
                    User Name :
                </label>
            </td>
            <td><input name="UserName" type="text" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Reset Password" />
            </td>
        </tr>
    </table>
    <strong>@ViewBag.Message</strong>
    <div asp-validation-summary="All"></div>

</form>